
<div class="col-md-12">

	<h2 class="text-center">Educations</h2>
  <%= link_to "Add Education", new_education_path, class: 'btn btn-success' %>
  <br></br>
	<table class="table table-bordered table-hover table-responsive table-condensed">
    <thead>
      <tr>
        <td><strong>ID</strong></td>
        <td><strong>School Name</strong></td>
        <td><strong>School Address</strong></td>
      </tr>
    </thead>
    <tbody>
      <% @educations.each do |e| %>
        <tr>
          <td><%= e.id %></td>
          <td><%= e.school_name %></td>
          <td><%= e.school_address %></td>
          <td>
            <div class='text-center'>
              <%= link_to "Modify", edit_education_path(e), class: 'btn btn-info' %>
            </div>
          </td>
          <td>
            <div class='text-center'>
              <%= link_to "Delete", education_path(e), method: :delete, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br/>
  <hr>
  
  <h2 class="text-center">Experiences</h2>
  <%= link_to "Add Experience", new_experience_path, class: 'btn btn-success' %>
  <br></br>
  <table class="table table-bordered table-hover table-responsive table-condensed">
    <thead>
    <tr>
      <td><strong>ID</strong></td>
      <td><strong>Company Name</strong></td>
      <td><strong>Job Title</strong></td>
      <td><strong>Start Date</strong></td>
      <td><strong>End Date</strong></td>
    </tr>
    </thead>
    <tbody>
    <% @experiences.each do |e| %>
        <tr>
          <td><%= e.id %></td>
          <td><%= e.company_name %></td>
          <td><%= e.job_title %></td>
          <td><%= e.start_date %></td>
          <td><%= e.end_date %></td>
          <td>
            <div class='text-center'>
              <%= link_to "Modify", edit_experience_path(e), class: 'btn btn-info' %>
            </div>
          </td>
          <td>
            <div class='text-center'>
              <%= link_to "Delete", experience_path(e), method: :delete, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  
  <br/>
  
  <%= link_to "Proceed to Choose Template &#9658;".html_safe, template_viewers_path, class: 'pull-right btn btn-primary' %>

</div>
