<h1 class="text-center">Edit Templates</h1>

<%= form_for @template, html: {multipart: true} do |f| %>
    <p>
      <%= f.label :file_name %><br />
      <%= f.text_field :filename %>
    </p>

    <p>
      <%= f.label :html_file %>
      <%= f.file_field :html_template %>
    </p>

    <p>
      <%= f.label :css_file %>
      <%= f.file_field :css_template %>
    </p>

    <p><%= f.submit %></p>
<% end %>
