<h1 class="text-center">Edit Education</h1>

<% if @edu.errors.any? %>
    <% @edu.errors.full_messages.each do |msg| %>
        <div class="text-danger text-center"><strong><%= msg %></strong></div>
    <% end %>
<% end %>
<br/>
<div class="col-md-12">
  <%= form_for @edu, html:{class: 'form-horizontal'} do |f| %>
      <div class="form-group">
        <div class="col-md-2 control-label"><label>School Name</label></div>
        <div class="col-md-10"><%= f.text_field :school_name, class: 'form-control' %></div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label"><label>School Address</label></div>
        <div class="col-md-10"><%= f.text_field :school_address, class: 'form-control'%></div>
      </div>
      <br/>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10"><%= f.submit "Update Education", class: 'btn btn-success' %></div>
      </div>
  <% end %>
</div>


