
<div class="col-md-12">

    <h1 class="text-center">Educations</h1>

    <table class="table table-bordered table-hover table-responsive table-condensed">
        <thead>
            <tr>
              <td><strong>ID</strong></td>
              <td><strong>School Name</strong></td>
              <td><strong>School Address</strong></td>
            </tr>
        </thead>
        <tbody>
            <% @edus.each do |e| %>
              <tr>
                <td><%= e.id %></td>
                <td><%= e.school_name %></td>
                <td><%= e.school_address %></td>
                <td><%= link_to "Modify", edit_education_path(e), class: 'btn btn-info' %>&nbsp;<%= link_to "Delete", education_path(e), method: :delete, class: 'btn btn-danger' %></td>
              </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to "Add Education Info", new_education_path, class: 'btn btn-success' %>

</div>
