<!DOCTYPE html>
<html>
<head>
  <title>Mycv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to "MyCV Dashboard", dashboards_path, class: 'navbar-brand' %>
    </div>
    
    <div class='collapse navbar-collapse'>
      <p class="navbar-text">Submit Resume Template in 1, 2, 3!</p>
    
      <% if admin_signed_in? %>
        <form class="navbar-form navbar-right">
          <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: 'btn btn-warning' %>
        </form>
        <form class="navbar-form navbar-right">
          <h5>Hello, <%= current_admin.first_name %> <%= current_admin.last_name %></h5>
        </form>
      <% end %>
    </div>
  </nav>
  
  <div class="col-md-12">
    <%= yield %>
  </div>
</body>
</html>
